{% extends "base.html" %}
{% load static %}
{% block metadescription %}

     {{products.description|truncatewords:155}}


{% endblock metadescription %}
{% block title %}

{% if category %}
     {{products.name}} -hello store

{% endif %}
{% endblock %}
{% block content %}
<div class="row my_prod_row_class">
    <div class="mx_auto">
        <p> <a href="{% url 'shopapp:allProdCat' %}">Home </a> | <a href="{{ products.category.get_url}}">{{products.category}}</a> | {{products.name}}</p>
    </div>
    </div>
<div class="container">

</div>

<br>
<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <div style="min-width:18rem">
            <img src="{{products.image.url}}" width="50" height="100" alt="{{products.name}}">
        </div>
    </div>
    <div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <h1 class="my_prod_title"> {{products.name}}</h1>
            <p> {{products.price}}</p>
            <p class="my_title"> product description </p>
            <p class="text-justify my_rod_text"> {{products.description}}</p>
             {% if products.stock <= 0 %}
            <p class="text_justify my_prod_text"> out of stock </p>
            {% else %}
            <a class="btn btn-secondary" href = "{% url 'cart:add_cart' products.id %}"> <i class="fa-solid fa-cart-shopping"></i> addto cart</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}